{%extends "users/base.html"%}

{% block styles%}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Cherry+Swash|Lilita+One|Titan+One" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}



{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="container">
   
<div class="header">
  <center>
    <h3 class="name">{{user.username}}</h3>
  </center>


  {%if user.join%}
  <h5 class="detail">Neighbourhood name: {{user.join.hood.name}}</h5>
  <h5 class="detail">Location: {{user.join.hood.location}}</h5>
  {% if busi%}
        <h2 class="detail">Your business:</h2>

        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Business Email</th>
          </tr>

          <tr>
          {% for business in business %}
            <td>{{busi.business_name}}</td>
            <td>{{busi.business_description}}</td>
            <td>{{busi.business_email}}</td>

        </tr>
        {%endfor%}

        </table>
      {%endif%}
      {%else%}
      <center>
        <h4 class="detail">You haven't joined any neighbourhood yet</h4>
      </center>

    {% endif %}

</div>

</div>

     
     
 
   

    {% endblock %}